[tool.poetry]
name = "fastapi-template"
version = "0"
description = ""
authors = ["Defelo <elodef42@gmail.com>"]
readme = "README.md"
license = "GPL-3.0-only"
homepage = "https://github.com/Defelo/fastapi-template"
repository = "https://github.com/Defelo/fastapi-template"

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.75.0"
uvicorn = "^0.17.6"
aiohttp = "^3.8.1"
aioredis = "^2.0.1"
SQLAlchemy = "^1.4.32"
aiomysql = "^0.0.22"
asyncpg = "^0.25.0"
sentry-sdk = "^1.5.7"
pydantic = "^1.9.0"
argon2-cffi = "^21.3.0"
PyJWT = "^2.3.0"
starlette = "^0.17.1"
pyotp = "^2.6.0"
jq = "^1.2.2"

[tool.poetry.dev-dependencies]
flake8 = "^4.0.1"
bandit = "1.7.2"
black = "^22.1.0"
wemake-python-styleguide = "^0.16.0"
mypy = "^0.931"
SQLAlchemy = {extras = ["mypy"], version = "^1.4.32"}

[tool.poe.tasks]
api = {script = "api.main:main", envfile = ".env"}
flake8 = "flake8 . --count --statistics --show-source"
black = "black ."
mypy = "mypy ."
lint = ["black", "mypy", "flake8"]

[tool.black]
target-version = ["py310"]
line-length = 120
skip-magic-trailing-comma = true

[tool.mypy]
strict = true
ignore_missing_imports = true
plugins = ["sqlalchemy.ext.mypy.plugin"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
